bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.FrameworkForEmotes/.idea/.gitignore
/.idea/.idea.FrameworkForEmotes/.idea/.name
/.idea/.idea.FrameworkForEmotes/.idea/copilot.data.migration.agent.xml
/.idea/.idea.FrameworkForEmotes/.idea/copilot.data.migration.ask.xml
/.idea/.idea.FrameworkForEmotes/.idea/copilot.data.migration.ask2agent.xml
/.idea/.idea.FrameworkForEmotes/.idea/copilot.data.migration.edit.xml
/.idea/.idea.FrameworkForEmotes/.idea/encodings.xml
/.idea/.idea.FrameworkForEmotes/.idea/indexLayout.xml
/.idea/.idea.FrameworkForEmotes/.idea/misc.xml
/.idea/.idea.FrameworkForEmotes/.idea/vcs.xml
/.idea/.idea.FrameworkedEmotionsMod/.idea/workspace.xml
